<header class="header">
    <div class="header-container">
      <div class="logo">
        <img src="/web/images/logot.png" alt="Logo de Mercadito de Lele">
        <link rel="stylesheet" href="/web/css/header.css">
        <h1>Mercadito de Lele</h1>
      </div>
      <nav class="nav-menu">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/acerca">Acerca de Nosotros</a></li>
          <li><a href="/artesanos">Acerca de los Artesanos</a></li>
          <li><a href="/perfil/:id">Perfil de Usuario</a></li>
          <li><a href="/carrito">Carrito</a></li>
          <li><a href="/login">Iniciar Sesión</a></li>
        </ul>
      </nav>
    </div>
  </header>
  